<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#be3030" />
  <meta name="description"
    content="Kunjungi semua resto yang kamu inginkan, eksklusif hanya untukmu. Dapatkan info restoran terbaik di Indonesia, mulai dari Melting Pot, Run The Gun, atau Pangsit Express. Semua ada di sini!">
  <link rel="apple-touch-icon" href="/src/public/icons/icon-makan-mana-lek192.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" href="./favicon.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">

  <title>makanmanalek.com</title>
</head>

<body>
  <header>
    <nav id="drawer">
      <ul>
        <li><a tabindex="3" href="#/main-page" id="home">Home</a></li>
        <li><a tabindex="4" href="#/favorite">Favorite</a></li>
        <li><a tabindex="4" href="#/faq">Panduan</a></li>
        <li><a tabindex="5" href="https://www.linkedin.com/in/billyprakoso/" id="fokus">About&nbsp;Us</a>
        </li>
      </ul>
    </nav>
    <main id="main">
      <button tabindex="2" id="hamburger" href="#">☰</button>
      <i>
        <p>Makan Mana Lek</p>
      </i>
    </main>
  </header>
  <main tabindex="6" id="mainContent"></main>
  <footer tabindex="13">&copy; 2024 - Makan Mana Lek </footer>
  <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
</body>

</html>